*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
}

.toolbox-cont{
    height:5rem;
    background-color: rgba(12, 12, 12, 0.876);
    display:flex;
    align-items: center;
}
.toolbox-cont>*{
    margin-left: 4rem;
    border-radius: 3px;
}
.color{
    height:1.7rem;
    width:3rem;
}
.red{
    
    background-color: #fb4444;
}
.blue{
    
    background-color: rgb(138, 234, 251);
}
.green{
    
    background-color: rgb(143, 255, 143);
}
.yellow{
   
    background-color: rgb(255, 255, 124);
}
.toolbox-priority-cont{
    height:3.5rem;
    width:18rem;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(205, 97, 255);
}
.action-btn-cont{
    height:3.5rem;
    width:7rem;
    background-color: rgba(0, 8, 8, 0.965);
    display:flex;
    
}
.action-btn-cont>*{
  display: flex;
  justify-content: center;
  align-items: center;
  width:50%;
  font-size: 2.5rem;
  color:#b1acff;
}

.action-btn-cont>*:hover{
    background-color: rgba(255, 255, 255, 0.342);
    transition:0.5s;
}

.toolbox-priority-cont>*:hover{
    background-color: rgb(255, 126, 66);
    transition:0.5s;
}
.modal-cont{
    height:50vh;
    width:45vw;
    background-color: rgba(255, 2, 200, 0.335);
    position:absolute;
    top:calc((100vh -  50vh)/2);
    left:calc((100vw  - 45vw)/2);
    display:none;
    
}

.textarea-cont{
    height:100%;
    width:75%;
    outline:none;
    border:none;
    background-color:rgb(251, 242, 242);
    resize: none;
    padding:2rem;
    font-size: 2rem;
   
}

.priority-color-cont{
    height:100%;
    width:25%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;

}

.priority-color{
    height:2.5rem;
    width:5rem;
}
.active{
    border:2px solid rgb(0, 0, 0);
}
.main-cont{
    display:flex;
    gap:2rem;
    justify-content: center;
    padding:2rem;
    flex-wrap: wrap;
}
.ticket-cont{
    height:13rem;
    width:15rem;
    background-color: rgba(245, 212, 212, 0.363);
    
}
.ticket-color{
    height:1rem;
    background-color: rgb(0, 0, 0);
}

.ticket-id{
    height:2rem;
    background-color: rgba(0, 255, 221, 0.513);
}
.ticket-area{
    height:calc(100% - 1rem - 2rem);
    font-size: 1.5rem;
}